# ==========================
# 가상환경 셋팅
# ==========================
wonv/
venv/
.venv/

# ==========================
# 원본 데이터
# ==========================
*.csv
*.xlsx
*.numbers

# ==========================
# 맥 파일
# ==========================
.DS_Store


# ==========================
# catboost 파일
# ==========================
catboost_info/
